<h1 class="adsimple-211112172">Datenschutzerklärung</h1>
<h2 class="adsimple-211112172">Datenschutz</h2>
<p>Wir haben diese Datenschutzerklärung (Fassung 09.01.2020-211112172) verfasst, um Ihnen gemäß der Vorgaben der <a class="adsimple-211112172" href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&tid=211112172" target="_blank" rel="noopener nofollow" class="external">Datenschutz-Grundverordnung (EU) 2016/679</a> zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.</p>
<p>Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.</p>
<h2 class="adsimple-211112172">Automatische Datenspeicherung</h2>
<p>Wenn Sie heutzutage Webseiten besuchen, werden gewisse Informationen automatisch erstellt und gespeichert, so auch auf dieser Webseite.</p>
<p>Wenn Sie unsere Webseite so wie jetzt gerade besuchen, speichert unser Webserver (Computer auf dem diese Webseite gespeichert ist) automatisch Daten wie</p>
<ul class="adsimple-211112172">
<li class="adsimple-211112172">die Adresse (URL) der aufgerufenen Webseite</li>
<li class="adsimple-211112172">Browser und Browserversion</li>
<li class="adsimple-211112172">das verwendete Betriebssystem</li>
<li class="adsimple-211112172">die Adresse (URL) der zuvor besuchten Seite (Referrer URL)</li>
<li class="adsimple-211112172">den Hostname und die IP-Adresse des Geräts von welchem aus zugegriffen wird</li>
<li class="adsimple-211112172">Datum und Uhrzeit</li>
</ul>
<p>in Dateien (Webserver-Logfiles).</p>
<p>In der Regel werden Webserver-Logfiles zwei Wochen gespeichert und danach automatisch gelöscht. Wir geben diese Daten nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.</p>
<h2 class="adsimple-211112172">Speicherung persönlicher Daten</h2>
<p>Persönliche Daten, die Sie uns auf dieser Website elektronisch übermitteln, wie zum Beispiel Name, E-Mail-Adresse, Adresse oder andere persönlichen Angaben im Rahmen der Übermittlung eines Formulars oder Kommentaren im Blog, werden von uns gemeinsam mit dem Zeitpunkt und der IP-Adresse nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt und nicht an Dritte weitergegeben.</p>
<p>Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit jenen Besuchern, die Kontakt ausdrücklich wünschen und für die Abwicklung der auf dieser Webseite angebotenen Dienstleistungen und Produkte. Wir geben Ihre persönlichen Daten ohne Zustimmung nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen von rechtswidrigem Verhalten eingesehen werden.</p>
<p>Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser Webseite – können wir keine sichere Übertragung und den Schutz Ihrer Daten garantieren. Wir empfehlen Ihnen, vertrauliche Daten niemals unverschlüsselt per E-Mail zu übermitteln.</p>
<h2 class="adsimple-211112172">Rechte laut Datenschutzgrundverordnung</h2>
<p>Ihnen stehen laut den Bestimmungen der DSGVO und des österreichischen <a class="adsimple-211112172" href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10001597&tid=211112172" target="_blank" rel="noopener nofollow" class="external">Datenschutzgesetzes (DSG)</a> grundsätzlich die folgende Rechte zu:</p>
<ul class="adsimple-211112172">
<li class="adsimple-211112172">Recht auf Berichtigung (Artikel 16 DSGVO)</li>
<li class="adsimple-211112172">Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
<li class="adsimple-211112172">Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
<li class="adsimple-211112172">Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)</li>
<li class="adsimple-211112172">Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
<li class="adsimple-211112172">Widerspruchsrecht (Artikel 21 DSGVO)</li>
<li class="adsimple-211112172">Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)</li>
</ul>
<p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren, welche in Österreich die Datenschutzbehörde ist, deren Webseite Sie unter <a class="adsimple-211112172" href="https://www.dsb.gv.at/?tid=211112172" class="external" rel="nofollow">https://www.dsb.gv.at/</a> finden.</p>
<h2 class="adsimple-211112172">Auswertung des Besucherverhaltens</h2>
<p>In der folgenden Datenschutzerklärung informieren wir Sie darüber, ob und wie wir Daten Ihres Besuchs dieser Website auswerten. Die Auswertung der gesammelten Daten erfolgt in der Regel anonym und wir können von Ihrem Verhalten auf dieser Website nicht auf Ihre Person schließen.</p>
<p>Mehr über Möglichkeiten dieser Auswertung der Besuchsdaten zu widersprechen erfahren Sie in der folgenden Datenschutzerklärung.</p>
<h2 class="adsimple-211112172">Twitter Datenschutzerklärung</h2>
<p>Auf unserer Webseite haben wir Funktionen von Twitter eingebaut. Dabei handelt es sich zum Beispiel um eingebettete Tweets, Timelines, Buttons oder Hashtags. Twitter ist ein Kurznachrichtendienst und eine Social-Media-Plattform der Firma Twitter Inc., One Cumberland Place, Fenian Street, Dublin 2 D02 AX07, Irland.</p>
<p>Nach unserer Kenntnis werden im Europäischen Wirtschaftsraum und in der Schweiz durch das bloße Einbinden von Twitter-Funktion noch keine personenbezogenen Daten oder Daten zu Ihrer Webaktivitäten an Twitter übertragen. Erst wenn Sie mit den Twitter-Funktionen interagieren, wie zum Beispiel auf einen Button klicken, können Daten an Twitter gesendet, dort gespeichert und verarbeitet werden. Auf diese Datenverarbeitung haben wir keinen Einfluss und tragen keine Verantwortung. Im Rahmen dieser Datenschutzerklärung wollen wir Ihnen einen Überblick geben, welche Daten Twitter speichert, was Twitter mit diesen Daten macht und wie Sie sich vor der Datenübertragung weitgehend schützen können.</p>
<h3 class="adsimple-211112172">Was ist Twitter?</h3>
<p>Für die einen ist Twitter ein Nachrichtendienst, für andere eine Social-Media-Plattform und wieder andere sprechen von einem Microblogging-Dienst. All diese Bezeichnungen haben ihre Berechtigung und meinen mehr oder weniger dasselbe.</p>
<p>Sowohl Privatpersonen als auch Unternehmen nützen Twitter, um mit interessierten Personen über Kurznachrichten zu kommunizieren. Pro Nachricht erlaubt Twitter nur 280 Zeichen. Diese Nachrichten werden „Tweets“ genannt. Anders als beispielsweise bei Facebook fokussiert sich der Dienst nicht auf den Ausbau eines Netzwerks für „Freunde“, sondern will als weltweite und offene Nachrichten-Plattform verstanden werden. Bei Twitter kann man auch ein anonymes Konto führen und Tweets können einerseits vom Unternehmen, andererseits von den Usern selbst gelöscht werden.</p>
<h3 class="adsimple-211112172">Warum verwenden wir Twitter auf unserer Webseite?</h3>
<p>Wie viele andere Webseiten und Unternehmen versuchen wir unserer Services und Dienstleistungen über verschiedene Kanäle anzubieten und mit unseren Kunden zu kommunizieren. Speziell Twitter ist uns als nützlicher „kleiner“ Nachrichtendienst ans Herz gewachsen. Immer wieder tweeten oder retweeten wir spannende, lustige oder interessante Inhalte. Uns ist klar, dass Sie nicht jeden Kanal extra folgen können. Schließlich haben Sie auch noch etwas anderes zu tun. Darum haben wir auf unserer Webseite auch Twitter-Funktionen eingebunden. Sie können unsere Twitter-Aktivität „vor Ort“ miterleben oder über einen direkten Link zu unserer Twitter-Seite kommen. Durch die Einbindung wollen wir unser Service und die Nutzerfreundlichkeit auf unserer Webseite stärken.</p>
<h3 class="adsimple-211112172">Welche Daten werden von Twitter gespeichert?</h3>
<p>Auf manchen unserer Unterseiten finden Sie die eingebauten Twitter-Funktionen. Wenn Sie mit den Twitter-Inhalten interagieren, wie zum Beispiel auf einen Button klicken, kann Twitter Daten erfassen und speichern. Und zwar auch dann, wenn Sie selbst kein Twitter-Konto haben. Twitter nennt diese Daten „Log-Daten“. Dazu zählen demografische Daten, Browser-Cookie-IDs, die ID Ihres Smartphones, gehashte E-Mail-Adressen, und Informationen, welche Seiten Sie bei Twitter besucht haben und welche Handlungen Sie ausgeführt haben. Twitter speichert natürlich mehr Daten, wenn Sie ein Twitter-Konto haben und angemeldet sind. Meistens passiert diese Speicherung über Cookies. Cookies sind kleine Text-Dateien, die meist in Ihrem Browser gesetzt werden und unterschiedliche Information an Twitter übermitteln.</p>
<p>Welche Cookies gesetzt werden, wenn Sie nicht bei Twitter angemeldet sind, aber eine Webseite mit eingebauten Twitter-Funktionen besuchen, zeigen wir Ihnen jetzt. Bitte betrachten Sie diese Aufzählung als Beispiel. Einen Anspruch auf Vollständigkeit können wir hier auf keinen Fall gewährleisten, da sich die Wahl der Cookies stets verändert und von Ihren individuellen Handlungen mit den Twitter-Inhalten abhängt.</p>
<p>Diese Cookies wurden bei unserem Test verwendet:</p>
<p>
<strong class="adsimple-211112172">Name:</strong> personalization_id<br />
<strong class="adsimple-211112172">Wert:</strong> „v1_cSJIsogU51SeE211112172“<br />
<strong class="adsimple-211112172">Verwendungszweck: </strong>Dieses Cookie speichert Informationen, wie Sie die Webseite nutzen und über welche Werbung Sie möglicherweise zu Twitter gekommen sind.<br />
<strong class="adsimple-211112172">Ablaufdatum:</strong> nach 2 Jahre</p>
<p>
<strong class="adsimple-211112172">Name: </strong>lang<br />
<strong class="adsimple-211112172">Wert: </strong>de<br />
<strong class="adsimple-211112172">Verwendungszweck: </strong>Dieses Cookie speichert Ihre voreingestellte bzw. bevorzugte Sprache.<br />
<strong class="adsimple-211112172">Ablaufdatum: </strong>nach Sitzungsende</p>
<p>
<strong class="adsimple-211112172">Name: </strong>guest_id<br />
<strong class="adsimple-211112172">Wert: </strong>211112172v1%3A157132626<br />
<strong class="adsimple-211112172">Verwendungszweck: </strong>Dieses Cookie wird gesetzt, um Sie als Gast zu identifizieren.<strong class="adsimple-211112172"> </strong>
<br />
<strong class="adsimple-211112172">Ablaufdatum: </strong>nach 2 Jahren</p>
<p>
<strong class="adsimple-211112172">Name: </strong>fm<br />
<strong class="adsimple-211112172">Wert: </strong>0<br />
<strong class="adsimple-211112172">Verwendungszweck: </strong>Zu diesem Cookie konnten wir leider den Verwendungszweck nicht in Erfahrung bringen.<br />
<strong class="adsimple-211112172">Ablaufdatum: </strong>nach Sitzungsende</p>
<p>
<strong class="adsimple-211112172">Name: </strong>external_referer<br />
<strong class="adsimple-211112172">Wert: </strong>2111121722beTA0sf5lkMrlGt<br />
<strong class="adsimple-211112172">Verwendungszweck: </strong>Dieses Cookie sammelt anonyme Daten, wie zum Beispiel wie oft Sie Twitter besuchen und wie lange Sie Twitter besuchen.<br />
<strong class="adsimple-211112172">Ablaufdatum: </strong>Nach 6 Tage</p>
<p>
<strong class="adsimple-211112172">Name: </strong>eu_cn<br />
<strong class="adsimple-211112172">Wert: </strong>1<br />
<strong class="adsimple-211112172">Verwendungszweck: </strong>Dieses Cookie speichert Useraktivität und dient diversen Werbezwecken von Twitter. <strong class="adsimple-211112172">
<br />
Ablaufdatum: </strong>Nach einem Jahr</p>
<p>
<strong class="adsimple-211112172">Name: </strong>ct0<br />
<strong class="adsimple-211112172">Wert: </strong>c1179f07163a365d2ed7aad84c99d966<br />
<strong class="adsimple-211112172">Verwendungszweck: </strong>Zu diesem Cookie haben wir leider keine Informationen gefunden.<br />
<strong class="adsimple-211112172">Ablaufdatum: </strong>nach 6 Stunden</p>
<p>
<strong class="adsimple-211112172">Name: </strong>_twitter_sess<br />
<strong class="adsimple-211112172">Wert: </strong>53D%253D–dd0248211112172-<br />
<strong class="adsimple-211112172">Verwendungszweck: </strong>Mit diesem Cookie können Sie Funktionen innerhalb der Twitter-Webseite nutzen.<br />
<strong class="adsimple-211112172">Ablaufdatum: </strong>nach Sitzungsende</p>
<p>
<strong class="adsimple-211112172">Anmerkung:</strong> Twitter arbeitet auch mit Drittanbietern zusammen. Darum haben wir bei unsrem Test auch die drei Google-Analytics-Cookies _ga, _gat, _gid erkannt.</p>
<p>Twitter verwendet die erhobenen Daten einerseits, um das Userverhalten besser zu verstehen und somit Ihre eigenen Dienste und Werbeangebote zu verbessern, andererseits dienen die Daten auch internen Sicherheitsmaßnahmen.</p>
<h3 class="adsimple-211112172">Wie lange und wo werden die Daten gespeichert?</h3>
<p>Wenn Twitter Daten von anderen Webseiten erhebt, werden diese nach maximal 30 Tagen gelöscht, zusammengefasst oder auf andere Weise verdeckt. Die Twitter-Server liegen auf verschiedenen Serverzentren in den Vereinigten Staaten. Demnach ist davon auszugehen, dass erhobenen Daten in Amerika gesammelt und gespeichert werden. Nach unserer Recherche konnten wir nicht eindeutig feststellen, ob Twitter auch eigene Server in Europa hat. Grundsätzlich kann Twitter die erhobenen Daten speichern, bis sie dem Unternehmen nicht mehr dienlich sind, Sie die Daten löschen oder eine gesetzliche Löschfrist besteht.</p>
<h3 class="adsimple-211112172">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
<p>Twitter betont in Ihren Datenschutzrichtlinien immer wieder, dass sie keine Daten von externen Webseitenbesuchen speichert, wenn Sie bzw. Ihr Browser sich im europäischen Wirtschaftsraum oder in der Schweiz befinden. Falls Sie allerdings mit Twitter direkt interagieren, speichert Twitter selbstverständlich auch Daten von Ihnen.</p>
<p>Wenn Sie ein Twitter-Konto besitzen, können Sie Ihre Daten verwalten, indem Sie unter dem „Profil“-Button auf „Mehr“ klicken. Anschließend klicken Sie auf „Einstellungen und Datenschutz“. Hier können Sie die Datenverarbeitung individuell verwalten.</p>
<p>Wenn Sie kein Twitter-Konto besitzen, können Sie auf <a class="adsimple-211112172" href="https://twitter.com/" class="external" rel="nofollow">twitter.com</a> gehen und dann auf „Individualisierung“ klicken. Unter dem Punkt „Individualisierung und Daten“ können Sie Ihre erhobenen Daten verwalten.</p>
<p>Die meisten Daten werden, wie oben bereits erwähnt, über Cookies gespeichert und die können Sie in Ihrem Browser verwalten, deaktivieren oder löschen. Bitte beachten Sie, dass Sie die Cookies nur in dem von Ihnen gewählten Browser „bearbeiten“. Das heißt: verwenden Sie in Zukunft einen anderen Browser, müssen Sie dort Ihre Cookies erneut nach Ihren Wünschen verwalten. Hier gibt es die Anleitung zur Cookie-Verwaltung der bekanntesten Browser.</p>
<p>
<a class="adsimple-211112172" href="https://support.google.com/chrome/answer/95647?tid=211112172" target="_blank" rel="noopener nofollow" class="external">Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a>
</p>
<p>
<a class="adsimple-211112172" href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=211112172" target="_blank" rel="noopener nofollow" class="external">Safari: Verwalten von Cookies und Websitedaten mit Safari</a>
</p>
<p>
<a class="adsimple-211112172" href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=211112172" target="_blank" rel="noopener nofollow" class="external">Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben</a>
</p>
<p>
<a class="adsimple-211112172" href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=211112172" target="_blank" rel="noopener nofollow" class="external">Internet Explorer: Löschen und Verwalten von Cookies</a>
</p>
<p>
<a class="adsimple-211112172" href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=211112172" target="_blank" rel="noopener nofollow" class="external">Microsoft Edge: Löschen und Verwalten von Cookies</a>
</p>
<p>Ihren Browser können Sie auch so verwalten, dass Sie bei jedem einzelnen Cookie informiert werden. Dann können Sie immer individuell entscheiden, ob Sie ein Cookie zulassen oder nicht.</p>
<p>Twitter verwendet die Daten auch für personalisierte Werbung in- und außerhalb von Twitter. In den Einstellungen können Sie unter „Individualisierung und Daten“ die personalisierte Werbung abschalten. Wenn Sie Twitter auf einem Browser nutzen, können Sie die personalisierte Werbung unter <a class="adsimple-211112172" href="http://optout.aboutads.info/?c=2&lang=EN" target="_blank" rel="follow noopener" class="external">http://optout.aboutads.info/?c=2&lang=EN</a> deaktivieren.</p>
<p>Twitter ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework. Dieses Framework stellt eine korrekte Datenübertragung zwischen den USA und der Europäischen Union sicher. Unter <a class="adsimple-211112172" href="https://www.privacyshield.gov/participant?id=a2zt0000000TORzAAO" target="_blank" rel="noopener nofollow" class="external">https://www.privacyshield.gov/participant?id=a2zt0000000TORzAAO</a> erfahren Sie mehr darüber.</p>
<p>Wir hoffen, wir haben Ihnen einen grundsätzlichen Überblick über die Datenverarbeitung durch Twitter gegeben. Wir erhalten keinen Daten von Twitter und tragen auch keine Verantwortung darüber, was Twitter mit Ihren Daten macht. Falls Sie noch weitere Fragen zu diesem Thema haben, empfehlen wir Ihnen die Twitter-Datenschutzerklärung unter <a class="adsimple-211112172" href="https://twitter.com/de/privacy" class="external" rel="nofollow">https://twitter.com/de/privacy</a>.</p>
<h2 class="adsimple-211112172">LinkedIn Datenschutzerklärung</h2>
<p>Wir nutzen auf unserer Webseite Social-Plug-ins des Social-Media-Netzwerks LinkedIn, der Firma LinkedIn Corporation, 2029 Stierlin Court, Mountain View, CA 94043, USA. Bei den Social-Plug-ins kann es sich um Feeds, das Teilen von Inhalten oder um die Verlinkung zu unserer LinkedIn-Seite handeln. Die Social-Plug-ins sind eindeutig mit dem bekannten LinkedIn-Logo gekennzeichnet und erlauben beispielsweise interessante Inhalte direkt über unsere Webseite zu teilen. Für den Europäischen Wirtschaftsraum und die Schweiz ist die Firma LinkedIn Ireland Unlimited Company Wilton Place in Dublin für die Datenverarbeitung verantwortlich.</p>
<p>Durch die Einbettung solcher Plug-ins können Daten an LinkedIn versandt, gespeichert und dort verarbeitet werden. In dieser Datenschutzerklärung wollen wir Sie informieren, um welche Daten es sich handelt, wie das Netzwerk diese Daten verwendet und wie Sie die Datenspeicherung verwalten bzw. unterbinden können.</p>
<h3 class="adsimple-211112172">Was ist LinkedIn?</h3>
<p>LinkedIn ist das größte soziale Netzwerk für Geschäftskontakte. Anders als beispielsweise bei Facebook konzentriert sich das Unternehmen ausschließlich auf den Aufbau geschäftlicher Kontakte. Unternehmen können auf der Plattform Dienstleistungen und Produkte vorstellen und Geschäftsbeziehungen knüpfen. Viele Menschen verwenden LinkedIn auch für die Jobsuche oder um selbst geeignete Mitarbeiter oder Mitarbeiterinnen für die eigene Firma zu finden. Allein in Deutschland zählt das Netzwerk über 11 Millionen Mitglieder. In Österreich sind es etwa 1,3 Millionen.</p>
<h3 class="adsimple-211112172">Warum verwenden wir LinkedIn auf unserer Webseite?</h3>
<p>Wir wissen wie beschäftigt Sie sind. Da kann man nicht alle Social-Media-Kanäle einzeln verfolgen. Auch wenn es sich, wie in unserem Fall, lohnen würde. Denn immer wieder posten wir interessante News oder Berichte, die es wert sind, verbreitet zu werden. Darum haben wir auf unserer Webseite die Möglichkeit geschaffen, interessante Inhalte direkt auf LinkedIn zu teilen bzw. direkt auf unsere LinkedIn-Seite zu verweisen. Wir betrachten eingebaute Social-Plug-ins als erweiterten Service auf unserer Webseite. Die Daten, die LinkedIn sammelt, helfen uns zudem mögliche Werbemaßnahmen nur Menschen zu zeigen, die sich für unser Angebot interessieren.</p>
<h3 class="adsimple-211112172">Welche Daten werden von LinkedIn gespeichert?</h3>
<p>Nur durch die bloße Einbindung der Social-Plug-ins speichert LinkedIn keine persönlichen Daten. LinkedIn nennt diese Daten, die durch Plug-ins generiert werden, passive Impressionen. Wenn Sie aber auf ein Social-Plug-in klicken, um beispielsweise unsere Inhalte zu teilen, speichert die Plattform personenbezogene Daten als sogenannte „aktive Impressionen“. Und zwar unabhängig, ob Sie ein LinkedIn-Konto haben oder nicht. Falls Sie angemeldet sind, werden die erhobenen Daten Ihrem Konto zugeordnet.</p>
<p>Ihr Browser stellt eine direkte Verbindung zu den Servern von LinkedIn her, wenn Sie mit unseren Plug-ins interagieren. So protokolliert das Unternehmen verschiedene Nutzungsdaten. Neben Ihrer IP-Adresse können das beispielsweise Anmeldungsdaten, Gerätinformationen oder Infos über Ihren Internet- bzw. Mobilfunkanbieter sein. Wenn Sie LinkedIn-Dienste über Ihr Smartphone aufrufen, kann auch Ihr Standort (nachdem Sie das erlaubt haben) ermittelt werden. LinkedIn kann diese Daten in „gehashter“ Form auch an dritte Werbetreibende weitergeben. Hashing meint, ein Datensatz wird in eine Zeichenkette verwandelt. Dadurch kann man die Daten so verschlüsseln, dass Personen nicht mehr identifiziert werden können.</p>
<p>Die meisten Daten zu Ihrem Userverhalten werden in Cookies gespeichert. Das sind kleine Text-Dateien, die meist in Ihrem Browser gesetzt werden. Weiters kann LinkedIn aber auch Web Beacons, Pixel-Tags, Anzeige-Tags und andere Geräteerkennungen benutzen.</p>
<p>Diverse Tests zeigen auch welche Cookies gesetzt werden, wenn ein User mit einem Social-Plug-in interagiert. Die gefundenen Daten können keinen Vollständigkeitsanspruch erheben und dienen lediglich als Beispiel. Die folgenden Cookies wurden gesetzt, ohne bei LinkedIn angemeldet zu sein:</p>
<p>
<strong class="adsimple-211112172">Name:</strong> bcookie<br />
<strong class="adsimple-211112172">Wert:</strong> =2&34aab2aa-2ae1-4d2a-8baf-c2e2d7235c16211112172-<br />
<strong class="adsimple-211112172">Verwendungszweck:</strong> Das Cookie ist ein sogenanntes „Browser-ID-Cookie“ und speichert folglich Ihre Identifikationsnummer (ID).<br />
<strong class="adsimple-211112172">Ablaufdatum:</strong> Nach 2 Jahren</p>
<p>
<strong class="adsimple-211112172">Name:</strong> lang<br />
<strong class="adsimple-211112172">Wert:</strong> v=2&lang=de-de<br />
<strong class="adsimple-211112172">Verwendungszweck:</strong> Dieses Cookie speichert Ihre voreingestellte bzw. bevorzugte Sprache.<br />
<strong class="adsimple-211112172">Ablaufdatum:</strong> nach Sitzungsende</p>
<p>
<strong class="adsimple-211112172">Name:</strong> lidc<br />
<strong class="adsimple-211112172">Wert:</strong> 1818367:t=1571904767:s=AQF6KNnJ0G211112172…<br />
<strong class="adsimple-211112172">Verwendungszweck:</strong> Dieses Cookie wird zum Routing verwendet. Routing zeichnet die Wege auf, wie Sie zu LinkedIn gekommen sind und wie Sie dort durch die Webseite navigieren.<br />
<strong class="adsimple-211112172">Ablaufdatum:</strong> nach 24 Stunden</p>
<p>
<strong class="adsimple-211112172">Name:</strong> rtc<br />
<strong class="adsimple-211112172">Wert:</strong> kt0lrv3NF3x3t6xvDgGrZGDKkX<br />
<strong class="adsimple-211112172">Verwendungszweck:</strong> Zu diesem Cookie konnten keine näheren Informationen in Erfahrung gebracht werden.<br />
<strong class="adsimple-211112172">Ablaufdatum:</strong> nach 2 Minuten</p>
<p>
<strong class="adsimple-211112172">Name:</strong> JSESSIONID<br />
<strong class="adsimple-211112172">Wert:</strong> ajax:2111121722900777718326218137<br />
<strong class="adsimple-211112172">Verwendungszweck:</strong> Es handelt sich hier um ein Session-Cookie, das LinkedIn verwendet, um anonyme Benutzersitzungen durch den Server aufrecht zu erhalten.<br />
<strong class="adsimple-211112172">Ablaufdatum:</strong> nach Sitzungsende</p>
<p>
<strong class="adsimple-211112172">Name:</strong> bscookie<br />
<strong class="adsimple-211112172">Wert:</strong> „v=1&201910230812…<br />
<strong class="adsimple-211112172">Verwendungszweck:</strong> Bei diesem Cookie handelt es sich um ein Sicherheits-Cookie. LinkedIn beschreibt es als Secure-Browser-ID-Cookie.<br />
<strong class="adsimple-211112172">Ablaufdatum:</strong> nach 2 Jahren</p>
<p>
<strong class="adsimple-211112172">Name:</strong> fid<br />
<strong class="adsimple-211112172">Wert:</strong> AQHj7Ii23ZBcqAAAA…<br />
<strong class="adsimple-211112172">Verwendungszweck:</strong> Zu diesem Cookie konnten keine näheren Informationen gefunden werden.<br />
<strong class="adsimple-211112172">Ablaufdatum:</strong> nach 7 Tagen</p>
<p>
<strong class="adsimple-211112172">Anmerkung:</strong> LinkedIn arbeitet auch mit Drittanbietern zusammen. Darum haben wir bei unserem Test auch die drei Google-Analytics-Cookies _ga und _gat erkannt.</p>
<h3 class="adsimple-211112172">Wie lange und wo werden die Daten gespeichert?</h3>
<p>Grundsätzlich behaltet LinkedIn Ihre personenbezogenen Daten so lange, wie es das Unternehmen als nötig betrachtet, um die eigenen Dienste anzubieten. LinkedIn löscht aber Ihre personenbezogenen Daten, wenn Sie Ihr Konto löschen. In manchen Ausnahmefällen behaltet LinkedIn selbst nach Ihrer Kontolöschung einige Daten in zusammengefasster und anonymisierter Form. Sobald Sie Ihr Konto löschen, können andere Personen Ihre Daten innerhalb von einem Tag nicht mehr sehen. LinkedIn löscht die Daten grundsätzlich innerhalb von 30 Tagen. LinkedIn behält allerdings Daten, wenn es aus rechtlicher Pflicht notwendig ist. Daten, die keinen Personen mehr zugeordnet werden können, bleiben auch nach Schließung des Kontos gespeichert. Die Daten werden auf verschiedenen Servern in Amerika und vermutlich auch in Europa gespeichert.</p>
<h3 class="adsimple-211112172">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
<p>Sie haben jederzeit das Recht auf Ihre personenbezogenen Daten zuzugreifen und sie auch zu löschen. In Ihrem LinkedIn-Konto können Sie Ihre Daten verwalten, ändern und löschen. Zudem können Sie von LinkedIn auch eine Kopie Ihrer personenbezogenen Daten anfordern.</p>
<p>So greifen Sie auf die Kontodaten in Ihrem LinkedIn-Profil zu:</p>
<p>Klicken Sie auf LinkedIn auf Ihr Profilsymbol und wählen Sie die Rubrik „Einstellungen und Datenschutz“. Klicken Sie nun auf „Datenschutz“ und dann im Abschnitt „So verwendet LinkedIn Ihre Daten auf „Ändern“. In nur kurzer Zeit können Sie ausgewählte Daten zu Ihrer Web-Aktivität und Ihrem Kontoverlauf herunterladen.</p>
<p>Sie haben auch in Ihrem Browser die Möglichkeit, die Datenverarbeitung durch LinkedIn zu unterbinden. Wie oben bereits erwähnt, speichert LinkedIn die meisten Daten über Cookies, die in Ihrem Browser gesetzt werden. Diese Cookies können Sie verwalten, deaktivieren oder löschen. Je nachdem, welchen Browser Sie haben, funktioniert die Verwaltung etwas anders. Die Anleitungen der gängigsten Browser finden Sie hier:</p>
<p>
<a class="adsimple-211112172" href="https://support.google.com/chrome/answer/95647?tid=211112172" target="_blank" rel="noopener nofollow" class="external">Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a>
</p>
<p>
<a class="adsimple-211112172" href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=211112172" target="_blank" rel="noopener nofollow" class="external">Safari: Verwalten von Cookies und Websitedaten mit Safari</a>
</p>
<p>
<a class="adsimple-211112172" href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=211112172" target="_blank" rel="noopener nofollow" class="external">Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben</a>
</p>
<p>
<a class="adsimple-211112172" href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=211112172" target="_blank" rel="noopener nofollow" class="external">Internet Explorer: Löschen und Verwalten von Cookies</a>
</p>
<p>
<a class="adsimple-211112172" href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=211112172" target="_blank" rel="noopener nofollow" class="external">Microsoft Edge: Löschen und Verwalten von Cookies</a>
</p>
<p>Sie können auch grundsätzlich Ihren Browser dahingehend einrichten, dass Sie immer informiert werden, wenn ein Cookie gesetzt werden soll. Dann können Sie immer individuell entscheiden, ob Sie das Cookie zulassen wollen oder nicht.</p>
<p>LinkedIn ist aktiver Teilnehmer des EU-U.S. Privacy Shield Frameworks. Dieses Framework stellt eine korrekte Datenübertragung zwischen den USA und der Europäischen Union sicher. Unter <a class="adsimple-211112172" href="https://www.privacyshield.gov/participant?id=a2zt0000000L0UZAA0" target="_blank" rel="follow noopener" class="external">https://www.privacyshield.gov/participant?id=a2zt0000000L0UZAA0</a> erfahren Sie mehr darüber. Wir haben versucht, Ihnen die wichtigsten Informationen über die Datenverarbeitung durch LinkedIn näherzubringen. Auf <a class="adsimple-211112172" href="https://www.linkedin.com/legal/privacy-policy" target="_blank" rel="noopener nofollow" class="external">https://www.linkedin.com/legal/privacy-policy</a> erfahren Sie noch mehr über die Datenverarbeitung des Social-Media-Netzwerks LinkedIn.</p>
<p style="margin-top:15px;">Quelle: Erstellt mit dem <a title="Datenschutz Generator von firmenwebseiten.at" href="https://www.firmenwebseiten.at/datenschutz-generator/" target="_blank" rel="follow" style="text-decoration:none;">Datenschutz Generator von firmenwebseiten.at</a> in Kooperation mit <a href="https://www.tattooentfernen.at" target="_blank" rel="follow" title="" style="text-decoration:none;">tattooentfernen.at</a>
</p>