<div class="jumbotron mt-5">
  <h1 class="display-4" style="color:#343a40">Welcome to RandomMath!   <img src="./assets/img/logo_rm.png" width="120em" height="90em">
  </h1>
  <hr class="my-4">
  <p style="color:#343a40">Check out the game. I bet, you won't be able to reach a total Score of 10 by only using your brain!</p>
  <a *ngIf="!authService.isLoggedIn()" class="btn2" routerLink="/login" role="button">Login</a>
  <div *ngIf="authService.isLoggedIn()">
    <p class="lead">
      <a class="btn1" routerLink="/game" role="button">Play Game</a>
    </p>
  </div>
</div>