<div class="jumbotron mt-5" style="background-color: white;">
    <h1 class="display-4" style="color:#343a40">Game Description!<img src="./assets/img/logo_rm.png" width="120em" height="90em">
    </h1>
    <hr class="my-4">
    <p style="color:#343a40; font-size: 2em;">It is a simple game based on simple mathematics! 1 game includes 10 rounds with 20 seconds each.</p>
    <p style="color: #343a40; font-size: 2em;">After pushing the <a style="font-weight: bold;" href="/game">Play Game</a> button a small counter displays and you will 
        have to wait for 5 seconds, until the game starts.</p>
    <p style="color: #343a40; font-size: 2em;">A small timer is running beside the math operation. The math operation includes 2 random generated numbers 
        between 1 and 999 and a random math sign: <strong>+</strong> | <strong>-</strong> | <strong>/</strong> | <strong>*</strong></p>
    <p style="color:#343a40; font-size: 2em;">
        Right beside the math operation is an input field to put your solution in. You can wait until the timer is 
        up or push the <strong>OK</strong> button if you think you are right and want to save time. Afterwards you get a message if your answer was wrong or right.
        Between each round you have 2 seconds to rest and prepare yourself for the next round. If you have managed to answer 10 math operations in a row you get your 
        result. You have the possibility to check your overall score at your <a style="font-weight: bold;" href="/profile">Profile</a>. Furthermore, you have the option to climb on the 
        <a style="font-weight: bold;" href="/leader-board">Leaderboard</a> to get the best in at least one categorie.
    </p>
</div>