<h1 class="adsimple-221112167">Imprint</h1>
<p class="adsimple-221112167">Duty to provide information in accordance with Section 5§ of the E-Commerce Act, Section 14§ of the German Business Code, Section 63§ of the Commercial Code and disclosure requirements under Section 25§ of the Media Act.</p>
<p>RandomMath is a small math game with a <strong>MySQL database</strong> running on a <strong>docker-container</strong>, <strong>NodeJS</strong> in the backend and <strong>Angular</strong> in the frontend.</p>
<p class="adsimple-221112167">
<div style="width: 50%;">
    <p class="name"><img class="maxicon" src="./assets/img/max.png" alt="Max"> Maximilian Gaber</p>
    <div class="row">
        <div class="column">
            <a href="https://stackoverflow.com/users/12347865/max?tab=profile"> 
                <img src="./assets/img/stackoverflow.png" alt="Stackoverflow" class="sticon">
            </a>
        </div>
        <div class="column">
            <a href="https://www.linkedin.com/in/maximilian-gaber/"> 
                <img src="./assets/img/LIn.png" alt="LinkedIn" class="liicon">
            </a>
        </div>
        <div class="column">
            <a href="https://twitter.com/ukalto"> 
                <img src="./assets/img/Twitter.png" alt="Twitter" class="twicon">
            </a>
        </div>
        <div class="column">
            <a href="https://github.com/ukalto"> 
                <img src="./assets/img/GitHub.png" alt="GitHub" class="ghicon">
            </a>
        </div>
    </div>
    <p class="adsimple-221112167">Vienna, Austria<br />
    <strong>Phone: </strong> <a href="tel:+4369910409279">+4369910409279</a><br />
    <strong>E-Mail: </strong> <a href="mailto:maxi.gaber@gmail.com">maxi.gaber@gmail.com</a>
    </p>
    <br/>
    <p>Icons made by: David Rodler
    <a href="https://www.instagram.com/david15112000/"> 
        <img src="./assets/img/instagram.png" alt="instagram" class="inicon">
    </a>
    </p>
</div>
<p style="margin-top:15px;">Source: Created with Impressum Generator on <a href="https://www.firmenwebseiten.at/impressum-generator/" target="_blank" rel="follow" style="text-decoration:none;">firmenwebseiten.at</a> in cooperation with <a href="https://www.wallentin.cc" target="_blank" rel="follow" title="ästhetische Operationen in Wien bei Dr. Doris Wallentin" style="text-decoration:none;">wallentin.cc</a></p>