<div class="dropdown">
  <button class="dropbtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{sort}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="sortScoreClicked()">Score</a>
      <a class="dropdown-item" (click)="sortPlayedGamesClicked()">Played Games</a>
      <a class="dropdown-item" (click)="sortScorePercentageClicked()">Score Percentage</a>
    </div>
  </div>
  <table class="table">
    <thead class="bar">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Score</th>
        <th scope="col">Played Games</th>
        <th scope="col">Score Percentage</th>
      </tr>
    </thead>
    <tbody class="table">
      <tr *ngFor="let user of users; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{user.username}}</td>
        <td>{{user.score}}</td>
        <td>{{user.playedGames}}</td>
        <td>{{user.scorePercentage}}</td>
      </tr>
    </tbody>
  </table>