<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Authentication problems!</strong> {{ errorMessage }}
    <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="pt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">{{user.username}} | {{user.score}} | {{user.scorePercentage}}%</h3>
          </div>
  
          <div class="card-body">
            <form class="form" [formGroup]="profileForm" (ngSubmit)="changeProfile()">
              <div class="form-group">
                Username:
              <input type="text" readonly value={{user.username}} formControlName="username" class="form-control" id="inputUsername"
                     aria-describedby="usernameHelp" >
              <div *ngIf="submitted && profileForm.controls.username.errors" class="error">
                <small class="form-text text-warning" *ngIf="profileForm.controls.username.errors.required">Your username is
                  required!
                </small>
                <small class="form-text text-warning" *ngIf="profileForm.controls.username.errors.maxlength">Your username is to long! Your username can't contain more than 45 symbols.
                </small>
              </div>
            </div>

              <div class="form-group">
                  E-Mail:
                <input type="text" readonly name="email" value={{user.email}} formControlName="email" class="form-control" id="inputEmail"
                       aria-describedby="emailHelp" >
                  <div *ngIf="submitted && profileForm.controls.email.errors" class="error">
                      <small class="form-text text-warning" *ngIf="profileForm.controls.email.errors.required">Your E-Mail is
                        required!
                      </small>
                      <small class="form-text text-warning" *ngIf="profileForm.controls.email.errors.maxlength">Your E-Mail is to long! Your E-Mail can't contain more than 45 symbols.
                      </small>
                      <small class="form-text text-warning" *ngIf="profileForm.controls.email.errors.pattern">This isn't a real E-Mail!</small>
                    </div>
              </div>
  
              <div class="form-group">
                  Password:
                <input type="password" placeholder="*****" readonly name="password" formControlName="password" class="form-control" id="password">
                <div *ngIf="submitted && profileForm.controls.password.errors" class="error">
                  <small class="form-text text-warning" *ngIf="profileForm.controls.password.errors.required">Your password
                    is
                    required!
                  </small>
                  <small class="form-text text-warning" *ngIf="profileForm.controls.password.errors.minlength">Your password
                    must be at least 12 characters long!
                  </small>
                </div>
              </div>

              <div class="form-group">
                <input type="score" readonly name="score" value="Your total Score: {{user.score}}" formControlName="score" class="form-control" id="inputScore"
                       aria-describedby="scoreHelp">
                    <div *ngIf="submitted && profileForm.controls.score.errors" class="error">
                </div>
              </div>

              <div class="form-group">
                <input type="playedGames" readonly name="playedGames" value="Your total number of played games: {{user.playedGames}}" formControlName="playedGames" class="form-control" id="inputPlayedGames"
                       aria-describedby="playedGamesHelp">
                    <div *ngIf="submitted && profileForm.controls.playedGames.errors" class="error">
                </div>
              </div>

              <div class="form-group">
                <input type="scorePercentage" readonly name="scorePercentage" value="Your score percentage: {{user.scorePercentage}}%" formControlName="scorePercentage" class="form-control" id="inputScorePercentage"
                       aria-describedby="scorePercentageHelp">
                    <div *ngIf="submitted && profileForm.controls.scorePercentage.errors" class="error">
                </div>
              </div>

              <button type="button" (click)="changeProfile()" class="btn btn-success float-right">Change profile</button>  
            </form>
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
  